@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
* {
  color: white;
}

.cursive, .cursive span {
  font-family: 'Sue Ellen Francisco', cursive !important;
  letter-spacing: 3px;
}

html {
  
}

.bodyNoHover {
  background-image: url("imageedit_18_6341848630.gif");
  transition: 0.8s;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

.bodyHover {
  background-image: url("pink.gif");
  transition: 0.8s;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

.bodyHover2 {
  background-image: url("green.gif");
  transition: 0.8s;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

.navBar {
  width: 90%;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}

.navBar a {
  text-align: center;
  display: inline-block;
}

a {
  text-align: center;
  margin: 0px auto;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 1%;
}

a span {
  display: block;
  font-size: 180%
}

.brandLogo {
  width: 40%;
  opacity: .3;
  margin: 5% auto;
  display: inline-block;
}

.brandLogo:hover {
  opacity: 1;
}

.brandLogoHidden {
  display: none;
}

.navBar a {
  margin: 0px 3%;
  padding: 2%;
}

.social {
  /*margin-bottom: 30px;*/
  display: inline-block;
  text-align: center;
  /*width: 35%;*/
}

.social a {
  margin: 0px 5px;
  padding: 15px;
}

.social a:hover {
  opacity: 1;
  color: white;
  background: rgba(0, 0, 0, .3);
  border-radius: 15px;
}

.social a span:hover {
  opacity: 1;
  color: white;
}

.social a span {
  font-size: 120%;
  text-align: center;
}

.social a i {
  text-align: center;
}

.myPic {
  width: 65px;
  margin-bottom: -13px;
}

.navBar a:hover {
  color: white;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.my_modals {
  width: 100%;
  height: 100vh;
  background-image: url("imageedit_34_9067685704.gif");
  background-size: cover;
  background-position: center center;
}

.modal.open {
  width: 100%;
  max-height: 100%;
  height: 100%;
  top: 0 !important;
}

.card p, .card .material-icons {
  color: black !important;
}

#magic {
  height: 30px;
  line-height: 60px;
  font-size: 2em;
  border-right: 2px solid #7FDBFF;
  display: inline;
}

#block {
  display: block;
}

@media only screen and (max-width: 480px) {
  .brandLogoHidden {
    width: 50%;
    opacity: 1;
    margin: 5% auto;
    display: block;
  }
  .brandLogo {
    display: none;
  }
  #magic {
    font-size: 1.4em;
  }
  .navBar a {
    display: block;
  }
  .social a {
    margin: 0px 2px;
    width: 13%;
    text-align: center;
    padding: 0px;
  }
  .social{
    display: block;
    text-align: center;
    margin: 0px auto;
  }
  .cursive, .cursive span{
    letter-spacing: 0.7px;
  }
  .bodyNoHover{
    height: 100%;
  }
  h2 {
    margin-bottom: -5px !important;
  }
}