@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
* {
  color: white;
  -webkit-font-smoothing: antialiased;
}

.cursive, .cursive span {
  font-family: 'Sue Ellen Francisco', cursive !important;
  letter-spacing: 2px;
}

html {
  
}
body{
  background: #174675
}
#wrapper { 
  display: none;
  padding-top: 4%;
}
.bodyNoHover {
  background-image: url("./images/imageedit_18_6341848630.gif");
  transition: background-image .7s;
  transition-timing-function: ease-in;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

.bodyHover {
  background-image: url("./images/pink.gif");
  transition: background-image .7s;
  transition-timing-function: ease-in;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

.bodyHover2 {
  background-image: url("./images/green.gif");
  transition: background-image .7s;
  transition-timing-function: ease-in;
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
}

.navBar {
  width: 90%;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}

.navBar a {
  text-align: center;
  display: inline-block;
  /* margin: 0px 3%; */
  padding: 3% 5%;
}

a {
  text-align: center;
  margin: 0px auto;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 1%;
}

a span {
  display: block;
  font-size: 180%
}

.brandLogo {
  width: 40%;
  opacity: .3;
  margin: 5% auto;
  display: inline-block;
}

.brandLogo:hover {
  opacity: 1;
}

.brandLogoHidden {
  display: none;
}
.hidden{
  display: none;
}

.social {
  margin-bottom: 45px;
  /*display: inline-block;*/
  text-align: center;
  /*width: 35%;*/
}

.social a {
  /* margin: 0px 5px; */
  padding: 8px;
}

.social a:hover {
  opacity: 1;
  color: white;
  background: rgba(0, 0, 0, .3);
  border-radius: 15px;
}

.social a span:hover {
  opacity: 1;
  color: white;
}

.social a span {
  font-size: 120%;
  text-align: center;
}

.social a i {
  text-align: center;
}

.myPic {
  width: 65px;
  margin-bottom: -13px;
}

.navBar a:hover {
  color: white;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.my_modals {
  width: 100%;
  height: 100vh;
  background-image: url("./images/imageedit_34_9067685704.gif");
  background-size: cover;
  background-position: center center;
}

.modal.open {
  width: 100%;
  max-height: 100%;
  height: 100%;
  top: 0 !important;
}

.card p, .card .material-icons {
  color: black !important;
}

.card, .card-action {
  text-align: left !important;
  font-size: .92em !important;
}

.card .card-action a {
  color: #412356 !important;
  font-weight: 700 !important;
  padding: 5px;
  border: 2px solid #412356 ;
  border-radius: 3px;
  margin-right: 5px !important;
  font-size: smaller;
}

.card .card-action a:hover {
  background: #412356;
  color: white !important;
  padding: 5px !important;
  border: 2px solid #412356 ;
  border-radius: 3px;
}
.fa-spinner{
  color: #412356 !important;
  font-size: 1.3em;
}

.card .card-content .card-title, .card .card-content .card-title i {
  line-height: 18px !important;
}

.fa-2x {
  font-size: 2em !important;
}

#magic {
  height: 30px;
  line-height: 60px;
  font-size: 2em;
  border-right: 2px solid #7FDBFF;
  display: inline;
}

#block {
  display: block;
}

#aboutPic {
  /* border: 3px solid lightslategray; */
  border-radius: 220px;
  width: 12.5%;
  box-shadow: 0px 4px 50px black;
}

.clickImage {
  position: absolute;
  top: 40%;
  left: 18%;
  opacity: .3;
  font-size: 1.8em;
  color: black;
}

.modal-close {
  margin-top: 15px;
}

.cardInfo, .cardInfo b {
  color: black !important;
  margin: 4px 0px;
}

.aboutMe {
  font-size: 1.4em;
  width: 70%;
  margin: 0px auto;
  text-align: center
}

#modal-connect .modal-content {
  font-weight: 300;
  width: 40%;
  margin: 0px auto;
}

#modal-connect-content {
  font-size: larger;
}

#favLinks a {
  display: block;
  font-style: italic;
}

#modal-connect h2, #modal-connect h4, #modal-about h2 {
  margin: 25px auto;
}
.modal-content .divider {
  width: 45%;
  margin: 2px auto
}
.modal-content a {
  color: lightgreen;
  padding: 1% 0px;
  font-weight: 400;
  border: 3px solid transparent;
}
.modal-content a:hover {
  color: white ;
  font-weight: 700 ;
  padding: 1% 10px !important;
  border: 3px solid white;
  border-radius: 3px;
  background: #412356;
  transition: .4s;
}


.aboutMeP {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: left;
  /*margin: 0 0 20px 0;*/
  font-size: 16px;
  font-weight: 300;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin: 4px auto;
  width: 70%
}

.technologies {
  display: inline-block;
  vertical-align: top;
  width: 175px;
}

.technologies h4 {
  display: inline-block;
  border-bottom: 1px solid white;
}

.sitTight {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  line-height: 258px;
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .brandLogoHidden {
    width: 50%;
    opacity: 1;
    margin: 5% auto;
    display: block;
  }
  .brandLogo {
    display: none;
  }
  #magic {
    font-size: 1.4em;
  }
  .navBar a {
    display: block;
  }
  .social a {
    margin: 0px 2px;
    width: 13%;
    text-align: center;
    padding: 0px;
  }
  .social {
    display: block;
    text-align: center;
    margin: 0px auto;
  }
  .cursive, .cursive span {
    letter-spacing: 0.7px;
  }
  .bodyNoHover {
    height: 100%;
    background-attachment: fixed;
  }
  .bodyHover {
    height: 100%;
    background-attachment: fixed;
  }
  .bodyHover2 {
    height: 100%;
    background-attachment: fixed;
  }
  h2 {
    margin-bottom: -5px !important;
    font-size: 3.1rem !important;
  }
  #aboutPic {
    /* border: 3px solid lightslategray; */
    border-radius: 220px;
    width: 36%;
    box-shadow: 0px 4px 50px black;
  }
  .card.small {
    height: 250px !important;
  }
  .card-image {
    max-height: 53% !important;
  }
  .clickImage {
    position: absolute;
    top: 45%;
    left: 14%;
    opacity: .6;
    font-size: 1.7em;
    opacity: .3;
    color: black;
  }
  #modal-connect .modal-content {
    font-weight: 300;
    width: 80%;
    margin: 0px auto;
  }
  .modal-content h2 {
    margin-bottom: 25px !important;
  }
  .aboutMeP {
    width: 80%;
    text-align: center;
  }
}